styles.css
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo e fonte */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0c052e;
    color: #333;
    padding: 0 20px;
}

/* Menu de Navegação */
nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo das Seções */
section {
    margin: 40px 0;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

.produto-imagens img, .equipe img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

/* Equipe */
.equipe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.membro {
    flex-basis: 30%;
    text-align: center;
}

.membro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.membro h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin: 10px 0 5px;
}

input, button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
